@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my .NET Core MVC App!</h1>
    <p>Learn more about this project on <a href="https://github.com/ufocadan" target="_blank">GitHub</a>.</p>
</div>
